@use '/styles/variable' as v;

.hottopics-container {
    margin: 0;

}

.post-board-brief-card {
    display: flex;
    flex-direction: column;
    gap: 1em;

    margin-bottom: 1em;
    background-color: v.$color_white_dark;
    padding: 1em 2em;
    border-radius: 1em;
    height: auto;

    .news_feed {
        border-radius: 1em;
        padding: 0.5em 1em;
        background-color: v.$color_white_blue;
        
        width: 100%;
        max-width: 30em;
        font-size: 1em;

        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .side-action-bar {
        display: flex;
        gap: 1em;

        .side-action-item {
            img {width: 32px;}
            display: flex;
            align-items: center;
            justify-content: left;    
            gap: 0.5em;
        }

    }

}

.post-board {
    margin-bottom: 1em;
    max-width: 40em;

    .slate-editor-header {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-bottom: 1em;
        gap:1em;

        .slate-editor-title, .slate-editor-tag  {
            border-radius: 1em;
            padding: 0.5em 1em;
            background-color: v.$color_white_blue;
            font-weight: 600;
            padding: 0.5em 1em;
            letter-spacing: 1px;
            overflow:hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
    
        }

        .slate-editor-tag  {
            background-color: v.$color_white_cloud;
        }
    }

    .slate-editor-container {
        background-color: v.$color_white_dark;
        border-radius: 1em;
        padding: 2em;    
    }

    .news_feed {
        border-radius: 1em;
        padding: 0.5em 1em;
        background-color: v.$color_white_blue;
        
        width: 25em;
        font-size: 1em;
        display:inline-block;

        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    .post-board-comment {
        img {width: 32px;}

        margin: 1em 0em;
        
        display: flex;
        align-items: center;
        justify-content: left;
        gap:1em;

        border-radius: 1em;
        padding: 0.8em 2em;
        background-color: v.$color_white_dark;

    }
}