@font-face {
    font-family: Poppins;
    src: url(./font/Poppins/Poppins-Regular.ttf);
    font-weight: normal;
  }
  
  @font-face {
    font-family: Poppins;
    src: url(./font/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
  }  

  @font-face {
    font-family: Poppins;
    src: url(./font/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
  }