$color_dark_blue: #094B72;
$color_light_blue: #0052B4;
$color_shallow_blue: #E7F6FF;

$color_white: #ffffff;
$color_white_cloud: #F1F0F0;
$color_white_dark: #F2F7FF;
$color_white_blue: #A9ADCE;

$color_grey: #8B8C8C;

@mixin universal_button {
    background-color: $color_light_blue;
    color: $color_white;
    padding: 1em 1.2em;
    border-radius: 5px;

    &:hover {
        background-color: $color_dark_blue;
    }
}
